body {
  margin: 0;
  font-family: 'Reckless Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#nav span, #info, #bio, #social, #personal {
  padding-left: 20px;
  padding-right: 20px;
}

#social img {
  width: 33px;
  height: 33px;
}

#info, #bio, #social, #personal {
  border-radius: 20px;
  border-style: solid;
  background-color: #fceee9;
  border-color: #667b68;
  color: #667B68;
  margin: 50px;
}

#nav {
  padding: 10px;
  border-radius: 30px;
  border-color: #a3b899;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
}

#personal {
  display: flex;
  flex-direction: column;
}

#personal span {
  padding-top: 10px;
  padding-bottom: 10px;
}